@page "/user/login"
@inherits LoginComponent

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Login</h1>
</div>
<div>
    <div class="form-group row">
        <label for="@User.Username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input class="form-control" placeholder="Enter username" bind="@User.Username"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="@User.Password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" bind="@User.Password"/>
        </div>
    </div>
    <button class="btn btn-primary" onclick="@(async () => await Login())">Submit</button>
</div>